<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="student3" class="com.lec.ex.Student">
		<constructor-arg>
			 <value>홍길자</value>
		</constructor-arg>
		<constructor-arg>
			 <value>8</value>
		</constructor-arg>
		<constructor-arg>
			<list>
				<value>줄넘기</value>
				<value>공기놀이</value>
			</list>
		</constructor-arg>
		<property name="weight">
			<value>170</value>
		</property>
		<property name="height">
			<value>54</value>
		</property>
	</bean>
	
	 
	<bean id="family" class="com.lec.ex.Family">
		<constructor-arg>
			<value>홍아빠이름</value>
		</constructor-arg>
		<constructor-arg>
			<value>홍엄마이름</value>
		</constructor-arg>
		<property name="sisterName">
			<value>홍시스터이름</value>
		</property>
		<property name="brotherName">
			<value>홍브라더이름</value>
		</property>
	</bean>
	
	
</beans>
