<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>유저</title>
	<meta charset="utf-8">
</head>
<body>

<header th:replace="common/header :: commonHeader"></header>

<!-- 
<th:block layout:fragment="content">
	<h1>컨텐츠</h1>
	<div th:utext="${a.id}"></div>
</th:block>
 -->
 
 
<form id="frm" method="POST"  action="/user">	
 	<input type="text"  name="id" value="">
 	<button type="submit"> 전송 </button>
</form>


<footer th:replace="common/footer :: commonFooter"></footer>

</body>
</html>